{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h2>Kolay IK Calisan Listesi</h2>
  <p>Tabloyu asagida gorebilirsiniz:</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Sirket</th>
        <th>Birim</th>
        <th>Departman</th>
        <th>Unvan</th>
      </tr>
    </thead>
    <tbody>
      
        {% for author in person_list %}
          <tr>
            <td>{{ author.name }}</td>
            <td>{{ author.surname }}</td>
            {% for other in author.allUnits %}
              <td>{{ other.unitItemName }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
  </ul>
{% endblock %}